//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Fonts
$font-helveticaneue: 'HelveticaNeue';
$font-helveticaneue-bold: 'HelveticaNeue-Bold';
$font-helveticaneue-light: 'HelveticaNeue-Light';
$font-helvetica-black: 'HelveticaNeue-Black';
$font-helvetica-black-hollow: 'HelveticaNeue-Black-Hollow';

/// @type List
$text-font-stack: $font-helveticaneue, 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: #222 !default;

/// Main brand color
/// @type Color
$brand-color: #4671ef !default;
$brand-color-alternate: #fff710;

/// Light grey
/// @type Color
$light-grey: #EDEDED !default;

/// Medium grey
/// @type Color
$mid-grey: #999 !default;

/// Dark grey
/// @type Color
$dark-grey: #444 !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../assets/' !default;

// Custom Colors
$pokeball-red: #e20f07;
$pokeball-blue: #278de1;
$pokeball-yellow: #ffff00;
$pokeball-purple: #481a66;
$pokeball-pink: #eb23aa;
$pokeball-brown: #9a4a01;
$pokeball-moss: #606700;
$pokeball-green: #5fa300;
$pokeball-gray: #a5a5a5;

$black: #000;
$white: #fff;

$red-ribbon: #f60a4f;